<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title><%= projectName %></title>

        <!--http://www.html5rocks.com/en/mobile/mobifying/-->
        <meta
            name="viewport"
            content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui=true"
        />

        <!--https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta name="format-detection" content="telephone=no" />

        <!-- force webkit on 360 -->
        <meta name="renderer" content="webkit" />
        <meta name="force-rendering" content="webkit" />
        <!-- force edge on IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="msapplication-tap-highlight" content="no" />

        <!-- force full screen on some browser -->
        <meta name="full-screen" content="yes" />
        <meta name="x5-fullscreen" content="true" />
        <meta name="360-fullscreen" content="true" />

        <!--fix fireball/issues/3568 -->
        <!--<meta name="browsermode" content="application">-->
        <meta name="x5-page-mode" content="app" />

        <!--<link rel="apple-touch-icon" href=".png" />-->
        <!--<link rel="apple-touch-icon-precomposed" href=".png" />-->

        <link rel="stylesheet" type="text/css" href="<%= cssUrl %>" />
        <!--<link rel="apple-touch-icon" href=".png" />-->
        <!--<link rel="apple-touch-icon-precomposed" href=".png" />-->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="./favicon-16x16.png"
        />
        <link rel="manifest" href="./site.webmanifest" />
        <link rel="stylesheet" type="text/css" href="<%= cssUrl %>" />
        <style>
            body,
            canvas,
            div {
                display: block;
                outline: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            body {
                overflow: hidden;
            }

            canvas {
                background-color: rgba(0, 0, 0, 0);
            }
        </style>
        <script src="paladin.min.js"></script>
    </head>

    <body>
        <div id="GameDiv">
            <div id="Cocos3dGameContainer">
                <canvas
                    id="GameCanvas"
                    oncontextmenu="event.preventDefault()"
                    tabindex="0"
                ></canvas>
            </div>
        </div>
        <%- include(cocosTemplate, {}) %>
        <script>
            (function () {
                // 游戏启动
                paladin.checkComponents({
                    list: ['launch'],
                    success: function (res) {
                        if (res.launch) {
                            paladin.comps.launch.show({
                                design: {
                                    width: 1334,
                                    height: 750,
                                    mode: 'horizontal',
                                },
                                logo: {
                                    url: 'splash.png',
                                },
                                background: {
                                    color: '#030502',
                                },
                                load: {
                                    color: '#90e3ff',
                                },
                                tips: {
                                    color: '#80a8c3',
                                },
                                notice: {
                                    color: '#80a8c3',
                                },
                                maintain: {
                                    color: '#80a8c3',
                                    strokeColor: '#000000',
                                    url: 'maintain.jpg',
                                },
                            });
                        }
                    },
                });

                // 游戏初始化
                paladin.init({
                    files: [],
                    loadType: 2,
                    success: function (res) {},
                    error: function () {
                        console.log('error');
                    },
                });
            })();
        </script>
    </body>
</html>
